<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="User ID=postgres;Password=erwinrommel7;Server=localhost;Port=5432;Database=neural_network;Integrated Security=true;Pooling=true;" />
	</connectionStrings>
  <appSettings>
    <add key="SampleExcelFileName" value="Sample.xlsx" />
  </appSettings>
</configuration>